
@{ ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CONSULT - Consultancy Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
</head>
<body>
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Giới thiệu</h1>
                <a class="text-light text-decoration-none" href="/Home/Index">Trang chủ</a>
                <i class="far fa-square text-light px-2"></i>
                <a class="text-light text-decoration-none" href="#">Giới thiệu</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- About Start -->
    <div class="container-fluidp-0 text-light">
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5 bg-info d-flex justify-content-center align-items-center flex-column">
                <h1 class="display-5 mb-4">Nhóm 11 - CNPMNC</h1>
                <p style="margin-left:-10%;">Nhóm bao gồm</p>
                <ul>
                    <li>Trần Trọng Tuấn</li>
                    <li>
                        Đỗ Quốc Khải
                    </li>
                    <li>
                        Phan Thành Trung
                    </li>
                    <li>
                        Trần Thị Lan Nguyên
                    </li>
                </ul>
                <a href="" class="btn btn-primary" style="padding:10px;border-radius:10px;">Chi tiết thành viên</a>
            </div>
            <div class="col-lg-6">  
                <img class="img-fluid w-100" src="~/Asset/Client/img/banner-about.jpg" />
            </div>
        </div>
    </div>
</body>

</html>